* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", san-serif;
	background-color: #FFF;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	&:active {
		color: #333333;
	}
}

li {
	list-style-type: none;
}

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
}
